:root {
  --ca-palUiBlu300: #2383e233;
  --c-palUiBlu700: #4fa7ff;
  --cd-palUiBlu150: #2383e21a;
  --cl-palPin30: #f6daf7;
  --cd-palPin50: #dc4c910f;
  --cl-palPin100: #302228;
  --ca-palPin200: #dc4c9138;
  --cl-palPin300: #4e2c3c;
  --ca-palPin400: #dc4c9166;
  --cd-palPin500: #dc4c9199;
  --cd-palPin600: #dc4c91d1;
  --cd-palPin700: #d85795e8;
  --c-palPin800: #c94b8c;
  --c-palPin900: #d15796;
  --cd-palPin75: #dc4c9117;
  --cl-palPur30: #e8def6;
  --cd-palPur50: #9b61d314;
  --cl-palPur100: #2b2431;
  --ca-palPur200: #9b61d32e;
  --cl-palPur300: #3c2d49;
  --ca-palPur400: #a85bf257;
  --cd-palPur500: #9b61d3a6;
  --cd-palPur600: #9b61d3d1;
  --cd-palPur700: #9b61d3e8;
  --c-palPur800: #9d67d2;
  --c-palPur900: #9d68d3;
  --cd-palPur75: #9b61d31a;
  --cl-palGre30: #d7e8d9;
  --cd-palGre50: #2d996414;
  --cl-palGre100: #222b26;
  --ca-palGre200: #2d996433;
  --cl-palGre300: #243d30;
  --ca-palGre400: #2d996480;
  --cd-palGre500: #2ca76aa6;
  --cd-palGre600: #2ca76ad1;
  --cd-palGre700: #2ca76ae8;
  --c-palGre800: #3c9d6a;
  --c-palGre900: #529e72;
  --cd-palGre75: #2d99641f;
  --c-palGra0: #000;
  --cl-palGra30: #151515;
  --c-palGra50: #191919;
  --cl-palGra75: #1c1c1c;
  --cl-palGra90: #1e1e1e;
  --cl-palGra100: #202020;
  --cl-palGra200: #252525;
  --cl-palGra300: #2f2f2f;
  --cl-palGra400: #373737;
  --c-palGra500: #5a5a5a;
  --c-palGra600: #7f7f7f;
  --c-palGra700: #9b9b9b;
  --c-palGra800: #d3d3d3;
  --c-palGra900: #fff;
  --c-palGra850: #e1e1e1;
  --cl-palTraGra30: #151515;
  --cl-palTraGra50: #191919;
  --ca-palTraGra75: hsla(0,0%,100%,.015);
  --ca-palTraGra100: #ffffff08;
  --ca-palTraGra200: hsla(0,0%,100%,.055);
  --ca-palTraGra300: hsla(0,0%,100%,.095);
  --ca-palTraGra400: #ffffff21;
  --ca-palTraGra500: hsla(0,0%,100%,.283);
  --ca-palTraGra600: #ffffff75;
  --ca-palTraGra700: hsla(0,0%,100%,.565);
  --ca-palTraGra800: #ffffffcf;
  --ca-palTraGra850: #ffffffde;
  --ca-palTraGra900: #fffffff5;
  --cl-palOra30: #f0e0c8;
  --cd-palOra50: #e97e280f;
  --cl-palOra100: #38281e;
  --ca-palOra200: #e97e2533;
  --cl-palOra300: #5c3b23;
  --ca-palOra400: #e97e2373;
  --cd-palOra500: #e97e2299;
  --cd-palOra600: #e97e21cc;
  --cd-palOra700: #e97e20e8;
  --c-palOra800: #e48539;
  --c-palOra900: #c77d48;
  --cd-palOra75: #e97e2726;
  --cl-palBro30: #f4f4d3;
  --cd-palBro50: #b8654814;
  --cl-palBro100: #2f2723;
  --ca-palBro200: #b8654540;
  --cl-palBro300: #4a3228;
  --ca-palBro400: #b8654373;
  --cd-palBro500: #ef997699;
  --cd-palBro600: #d18a6dbf;
  --cd-palBro700: #bb7d64e8;
  --c-palBro800: #b27e67;
  --c-palBro900: #ba856f;
  --cd-palBro75: #b8654726;
  --cl-palRed30: #fddada;
  --cd-palRed50: #de55581a;
  --cl-palRed100: #362422;
  --ca-palRed200: #de555540;
  --cl-palRed300: #522e2a;
  --ca-palRed400: #de555373;
  --cd-palRed500: #de555299;
  --cd-palRed600: #de5551cc;
  --cd-palRed700: #de5550e8;
  --c-palRed800: #de5550;
  --c-palRed900: #e65b58;
  --cd-palRed75: #de555726;
  --cl-palYel30: #f0e2cb;
  --cd-palYel50: #a269321a;
  --cl-palYel100: #392e1e;
  --ca-palYel200: #b3813d33;
  --cl-palYel300: #564328;
  --ca-palYel400: #fab14380;
  --cd-palYel500: #f0a63399;
  --cd-palYel600: #e8a225cc;
  --cd-palYel700: #dd9a22e8;
  --c-palYel800: #d99e35;
  --c-palYel900: #ca984d;
  --cd-palYel75: #98663026;
  --cl-palBlu30: #cbe6f7;
  --cd-palBlu50: #337ea914;
  --cl-palBlu100: #1d282e;
  --ca-palBlu200: #337ea933;
  --cl-palBlu300: #143a4e;
  --ca-palBlu400: #337ea980;
  --cd-palBlu500: #337ea9a6;
  --cd-palBlu600: #337ea9d1;
  --cd-palBlu700: #337ea9e8;
  --c-palBlu800: #388ebf;
  --c-palBlu900: #379ad3;
  --cd-palBlu75: #337ea91f;
  --ca-palPagGla0: #191919cc;
  --ca-palWasGla0: #202020cc;
  --c-bluTexPri: #e5f2fc;
  --c-bluTexTer: #355f8b;
  --c-bluTexDis: #233850;
  --ca-bluTexDisTra: rgba(67,155,255,.239);
  --ca-bluBacPriTra: rgba(41,139,253,.061);
  --ca-bluBacSecTra: rgba(67,155,255,.239);
  --ca-bluBacTerTra: rgba(81,166,255,.495);
  --c-bluBacPri: #1a2027;
  --c-bluBacSec: #233850;
  --c-bluBacTer: #355f8b;
  --c-bluBacEle: #213041;
  --ca-bluBorPriTra: rgba(67,155,255,.239);
  --ca-bluBorSecTra: rgba(71,157,255,.173);
  --c-bluBorPri: #233850;
  --c-bluBorSec: #213041;
  --c-bluBorStr: #355f8b;
  --c-bluIcoPri: #e5f2fc;
  --c-bluIcoSec: #83abe1;
  --c-bluIcoTer: #387dc9;
  --c-bluIcoDis: #264a72;
  --ca-broTexDisTra: rgba(255,177,129,.191);
  --c-broTexPri: #f5ede9;
  --c-broTexTer: #6d5340;
  --c-broTexDis: #45362d;
  --ca-broBacPriTra: hsla(23,97%,69%,.052);
  --ca-broBacSecTra: rgba(255,177,129,.191);
  --ca-broBacTerTra: rgba(255,184,132,.365);
  --c-broBacPri: #25201d;
  --c-broBacSec: #45362d;
  --c-broBacTer: #6d5340;
  --c-broBacEle: #382d26;
  --ca-broBorPriTra: rgba(255,177,129,.191);
  --ca-broBorSecTra: rgba(255,174,122,.134);
  --c-broBorPri: #45362d;
  --c-broBorSec: #382d26;
  --c-broBorStr: #6d5340;
  --c-broIcoPri: #f5ede9;
  --c-broIcoSec: #bca290;
  --c-broIcoTer: #9f765a;
  --c-broIcoDis: #584437;
  --c-graTexPri: #f0efed;
  --c-graTexTer: #5f5e59;
  --c-graTexDis: #494846;
  --ca-graTexDisTra: #ffffeb1a;
  --ca-graBacPriTra: #fcfcfc08;
  --ca-graBacSecTra: #ffffeb1a;
  --ca-graBacTerTra: rgba(255,252,235,.304);
  --c-graBacPri: #202020;
  --c-graBacSec: #383836;
  --c-graBacTer: #5f5e59;
  --c-graBacEle: #2c2c2b;
  --ca-graBorPriTra: #ffffeb1a;
  --ca-graBorSecTra: rgba(255,255,243,.082);
  --c-graBorPri: #383836;
  --c-graBorSec: #2c2c2b;
  --c-graBorStr: #5f5e59;
  --c-graIcoPri: #f0efed;
  --c-graIcoTer: #5f5e59;
  --c-graIcoDis: #494846;
  --ca-greTexDisTra: rgba(108,255,172,.156);
  --c-greTexPri: #e8f1ec;
  --c-greTexTer: #37674c;
  --c-greTexDis: #263d30;
  --ca-greBacPriTra: rgba(83,255,140,.034);
  --ca-greBacSecTra: rgba(108,255,172,.156);
  --ca-greBacTerTra: rgba(113,255,175,.339);
  --c-greBacPri: #1b211d;
  --c-greBacSec: #263d30;
  --c-greBacTer: #37674c;
  --c-greBacEle: #24342b;
  --ca-greBorPriTra: rgba(108,255,172,.156);
  --ca-greBorSecTra: rgba(119,255,179,.117);
  --c-greBorPri: #263d30;
  --c-greBorSec: #24342b;
  --c-greBorStr: #37674c;
  --c-greIcoPri: #e8f1ec;
  --c-greIcoSec: #8bb79d;
  --c-greIcoTer: #50946e;
  --c-greIcoDis: #2a533c;
  --ca-oraTexDisTra: rgba(255,147,75,.278);
  --c-oraTexPri: #fbebde;
  --c-oraTexTer: #88522f;
  --c-oraTexDis: #53361f;
  --ca-oraBacPriTra: rgba(254,139,71,.043);
  --ca-oraBacSecTra: rgba(255,147,75,.278);
  --ca-oraBacTerTra: rgba(255,143,71,.482);
  --c-oraBacPri: #231e1b;
  --c-oraBacSec: #53361f;
  --c-oraBacTer: #88522f;
  --c-oraBacEle: #3d2a1d;
  --ca-oraBorPriTra: rgba(255,147,75,.278);
  --ca-oraBorSecTra: rgba(255,134,51,.156);
  --c-oraBorPri: #53361f;
  --c-oraBorSec: #3d2a1d;
  --c-oraBorStr: #88522f;
  --c-oraIcoPri: #fbebde;
  --c-oraIcoSec: #cba27d;
  --c-oraIcoTer: #d27b2d;
  --c-oraIcoDis: #6a4222;
  --ca-pinTexDisTra: #ff67b13b;
  --c-pinTexPri: #fae9f1;
  --c-pinTexTer: #7b4760;
  --c-pinTexDis: #4e2b3c;
  --ca-pinBacPriTra: rgba(255,78,149,.056);
  --ca-pinBacSecTra: #ff67b13b;
  --ca-pinBacTerTra: rgba(255,133,192,.426);
  --c-pinBacPri: #261c20;
  --c-pinBacSec: #4e2b3c;
  --c-pinBacTer: #7b4760;
  --c-pinBacEle: #3f2631;
  --ca-pinBorPriTra: #ff67b13b;
  --ca-pinBorSecTra: rgba(255,104,171,.164);
  --c-pinBorPri: #4e2b3c;
  --c-pinBorSec: #3f2631;
  --c-pinBorStr: #7b4760;
  --c-pinIcoPri: #fae9f1;
  --c-pinIcoSec: #c897ad;
  --c-pinIcoTer: #c14c8a;
  --c-pinIcoDis: #68354e;
  --ca-purTexDisTra: #c87dff33;
  --c-purTexPri: #f3ebf9;
  --c-purTexTer: #674d7b;
  --c-purTexDis: #3c2d47;
  --ca-purBacPriTra: rgba(196,101,253,.052);
  --ca-purBacSecTra: #c87dff33;
  --ca-purBacTerTra: rgba(208,147,255,.426);
  --c-purBacPri: #221d25;
  --c-purBacSec: #3c2d47;
  --c-purBacTer: #674d7b;
  --c-purBacEle: #36293f;
  --ca-purBorPriTra: #c87dff33;
  --ca-purBorSecTra: rgba(201,122,255,.164);
  --c-purBorPri: #3c2d47;
  --c-purBorSec: #36293f;
  --c-purBorStr: #674d7b;
  --c-purIcoPri: #f3ebf9;
  --c-purIcoTer: #9a6bb4;
  --c-purIcoDis: #553b69;
  --c-redTexPri: #fce9e7;
  --c-redTexTer: #924943;
  --c-redTexDis: #502c29;
  --ca-redTexDisTra: rgba(255,104,92,.239);
  --ca-redBacPriTra: hsla(0,95%,70%,.048);
  --ca-redBacSecTra: rgba(255,104,92,.239);
  --ca-redBacTerTra: hsla(4,100%,71%,.526);
  --c-redBacPri: #241d1d;
  --c-redBacSec: #502c29;
  --c-redBacTer: #924943;
  --c-redBacEle: #412725;
  --c-redBacAccSec: #e56458;
  --ca-redBorPriTra: rgba(255,104,92,.239);
  --ca-redBorSecTra: rgba(255,106,94,.173);
  --c-redBorPri: #502c29;
  --c-redBorSec: #412725;
  --c-redBorStr: #924943;
  --c-redIcoPri: #fce9e7;
  --c-redIcoSec: #d0988d;
  --c-redIcoTer: #cf5148;
  --c-redIcoDis: #6d3531;
  --ca-teaTexDisTra: #00cdf533;
  --c-teaTexPri: #e0f3f7;
  --c-teaTexTer: #226471;
  --c-teaTexDis: #143d45;
  --ca-teaBacPriTra: rgba(0,126,164,.079);
  --ca-teaBacSecTra: #00cdf533;
  --ca-teaBacTerTra: rgba(49,221,255,.382);
  --c-teaBacPri: #172124;
  --c-teaBacSec: #143d45;
  --c-teaBacTer: #226471;
  --c-teaBacEle: #193439;
  --ca-teaBorPriTra: #00cdf533;
  --ca-teaBorSecTra: rgba(25,219,255,.138);
  --c-teaBorPri: #143d45;
  --c-teaBorSec: #193439;
  --c-teaBorStr: #226471;
  --c-teaIcoPri: #e0f3f7;
  --c-teaIcoSec: #7eb6c2;
  --c-teaIcoTer: #2c8b9e;
  --c-teaIcoDis: #18505b;
  --c-yelTexPri: #f9f3dc;
  --c-yelTexTer: #836426;
  --c-yelTexDis: #504425;
  --ca-yelTexDisTra: rgba(255,205,75,.239);
  --ca-yelBacPriTra: rgba(255,232,48,.043);
  --ca-yelBacSecTra: rgba(255,205,75,.239);
  --ca-yelBacTerTra: #ffbc3575;
  --c-yelBacPri: #23221a;
  --c-yelBacSec: #504425;
  --c-yelBacTer: #836426;
  --c-yelBacEle: #373325;
  --ca-yelBorPriTra: rgba(255,205,75,.239);
  --ca-yelBorSecTra: #ffe17521;
  --c-yelBorPri: #504425;
  --c-yelBorSec: #373325;
  --c-yelBorStr: #836426;
  --c-yelIcoPri: #f9f3dc;
  --c-yelIcoSec: #d8c283;
  --c-yelIcoTer: #cb9434;
  --c-yelIcoDis: #655121;
  --c-yelIcoInvSec: #d8c283;
  --c-texPri: #f0efed;
  --c-texSec: #ada9a3;
  --c-texTer: #7d7a75;
  --c-texDis: #494846;
  --c-texAccPri: #bcbab6;
  --ca-texDisTra: #ffffeb1a;
  --c-icoPri: #e6e5e3;
  --c-icoSec: #ada9a3;
  --c-icoTer: #7d7a75;
  --c-icoDis: #494846;
  --c-icoAccPri: #bcbab6;
  --c-borPri: #383836;
  --c-borSec: #2c2c2b;
  --c-borStr: #5f5e59;
  --ca-borPriTra: #ffffeb1a;
  --ca-borSecTra: rgba(255,255,243,.082);
  --c-bacPri: #191919;
  --c-bacSec: #202020;
  --c-bacTer: #383836;
  --c-bacEle: #202020;
  --ca-bacSecTra: #fcfcfc08;
  --cd-bacEleTra: #fcfcfc08;
  --ca-bacTerTra: rgba(255,255,243,.082);
  --c-priBla: #fff;
  --ca-darTexCol: hsla(0,0%,100%,.565);
  --cl-pagTitPlaTexCol: #373737;
  --ca-ligDivCol: hsla(0,0%,100%,.055);
  --ca-regDivCol: hsla(0,0%,100%,.095);
  --ca-darDivCol: #ffffff21;
  --cl-chaLegIteHidCol: #373737;
  --cl-chaInaLegNavCol: #252525;
  --ca-chaRowRigCol: hsla(0,0%,100%,.283);
  --c-tabDivCol: #2f2f2f;
  --ca-tabHomDivCol: #ffffff21;
  --c-tabFroFilDivCol: #464646;
  --c-tabFroSelDivCol: #2f3a48;
  --c-tabLigDivCol: #252525;
  --ca-larPopBor: #ffffff21;
  --ca-larShiCol: hsla(0,0%,100%,.055);
  --cl-linDecCol: #373737;
  --ca-opaLinDecCol: hsla(0,0%,100%,.283);
  --c-regEmoCol: #fff;
  --c-sidTexCol: #9b9b9b;
  --c-sidSecCol: #9b9b9b;
  --ca-sidIteSelBac: hsla(0,0%,100%,.055);
  --ca-conBacTra: #f1f1ef00;
  --ca-carConBacTra: #e3e2e000;
  --ca-oveSmo: #0f0f0fcc;
  --c-calIteBac: #2f2f2f;
  --cl-calIteHovBac: #373737;
  --c-popBac: #252525;
  --ca-popWaxPapBac: #202020e6;
  --cd-boaIteDefBac: hsla(0,0%,100%,.055);
  --cd-colGalPreCarBac: hsla(0,0%,100%,.055);
  --ca-colGalPreCarCov: #ffffff08;
  --cl-colUnsDepArr: #7f7f7f;
  --ca-colValDepArr: #e8a225cc;
  --ca-modUndBac: #0f0f0fcc;
  --c-beiBanBac: #373c3f;
  --c-darBanBac: #373c3f;
  --c-keyDonBarBac: #27292b;
  --c-keyActBarBac: #272829;
  --ca-UIUseAvaInnOut: #1919194d;
  --c-UIUseAvaSelBor: #9b9b9b;
  --c-UIUseAvaIdlOut: #555553;
  --cl-susUIUseAvaBac: #373737;
  --cl-selBorUns: #5a5a5a;
  --cd-codBloBac: #ffffff08;
  --c-codStiBloBac: #272727;
  --cd-tabHeaRowColBac: #ffffff08;
  --cd-embPlaBac: #ffffff08;
  --ca-defBadBac: hsla(0,0%,100%,.055);
  --ca-inpBac: hsla(0,0%,100%,.055);
  --ca-tokInpMenIteBac: #ffffff08;
  --cl-hovDisBac: #202020;
  --c-hovMarDisBac: #202020;
  --c-selMarDisBac: #252525;
  --cl-focDisBac: #252525;
  --ca-focDisInpBac: hsla(0,0%,100%,.055);
  --ca-butHovBac: hsla(0,0%,100%,.055);
  --ca-tabRowHovBac: hsla(0,0%,100%,.055);
  --ca-outButHovBac: hsla(0,0%,100%,.055);
  --cl-outButPreBac: #252525;
  --ca-butPreBac: #ffffff08;
  --ca-butPreBacLig: #ffffff08;
  --cl-carBac: #252525;
  --cl-carHovBac: #2f2f2f;
  --cl-carPreBac: #252525;
  --c-whi: #000;
  --c-whiButBac: #252525;
  --c-assCorButBac: #d3d3d3;
  --ca-assTinActButBac: hsla(0,0%,100%,.055);
  --ca-assTinActButBacHov: #ffffff21;
  --ca-assTinActButBacPre: hsla(0,0%,100%,.095);
  --c-graButBac: #7f7f7f;
  --c-graButHovBac: #737373;
  --c-graButPreBac: #676767;
  --ca-ligGraButBac: #ffffff08;
  --ca-ligGraButHovBac: hsla(0,0%,100%,.055);
  --ca-ligGraButPreBac: hsla(0,0%,100%,.095);
  --c-butGroBac: #2f2f2f;
  --c-whiButHovBac: #2f2f2f;
  --c-whiButPreBac: #252525;
  --ca-outButBor: #ffffff21;
  --ca-radButBor: #ffffff21;
  --c-timBac: #191919;
  --c-peeTimBac: #202020;
  --cd-timDarBac: #ffffff08;
  --c-topFav: #ca984d;
  --cl-homEmpStaPreJoiButBac: #252525;
  --cl-homEmpStaPreCalInd: #2f2f2f;
  --cl-homEmpStaPreVerDiv: #2f2f2f;
  --c-homScrButBacBas: #252525;
  --cl-homScrButBacPre: #2f2f2f;
  --ca-homTilBac: #202020e6;
  --ca-homCarCovPhoBas: #ffffff08;
  --cd-homCarBacBas: #ffffff0d;
  --cd-homCarBacHov: #ffffff0d;
  --ca-homCarBacPre: #ffffff12;
  --cd-homCarTemCarBacBas: #ffffff0d;
  --cd-homCarTemCarBacHov: #ffffff0d;
  --ca-homCarTemCarBacPre: #ffffff12;
  --cl-perHomBacPho: #191919;
  --c-sitPagPreWinChrBar: #141414;
  --c-seoPreTit: #9ebdf4;
  --c-sitBuiBac: #1f1f1f;
  --cl-sitInsSte: #373737;
  --cl-selLigGra30: #151515;
  --cl-selLigGra50: #191919;
  --cl-selLigGra100: #202020;
  --cl-selLigGra200: #252525;
  --cl-selLigGra300: #2f2f2f;
  --cl-selLigGra400: #373737;
  --cl-selLigGra500: #5a5a5a;
  --cl-selLigGra700: #9b9b9b;
  --ca-legDefSelCol: hsla(0,0%,100%,.095);
  --ca-equTemPlaBac: #ffffff08;
  --c-simTabSelBor: #379ad3;
  --cd-errTex: #de5550e8;
  --cl-finHigMatUnsBac: #444137;
  --ca-pilBacYel: #a269321a;
  --ca-pilBacBlu: #337ea914;
  --ca-pilBacRed: #de55581a;
  --cl-pilBacWhi: #202020;
  --cd-pilBorYel: #98663026;
  --c-pilBorRed: #362422;
  --ca-pilBorWhi: hsla(0,0%,100%,.055);
  --c-pilIcoRed: #de5550;
  --cl-pilIcoWhi: #7f7f7f;
  --ca-pilOutYel: #fab14380;
  --ca-pilOutBlu: #2383e259;
  --ca-pilOutRed: #de555373;
  --cl-pilOutWhi: #1c1c1c;
  --c-pilHovBacYel: #392e1e;
  --c-pilHovBacRed: #362422;
  --cl-pilHovBorYel: #392e1e;
  --ca-pilHovBorRed: #de555540;
  --ca-pilHovBorWhi: hsla(0,0%,100%,.095);
  --cd-pilHovTexYel: #ffffffde;
  --c-pilHovTexRed: #de5550;
  --c-pilHovTexWhi: #7f7f7f;
  --ca-pilPreBacYel: #b3813d33;
  --ca-pilPreBacBlu: #2383e233;
  --ca-pilPreBacRed: #de555540;
  --cl-pilPreBorYel: #392e1e;
  --cl-pilPreBorRed: #522e2a;
  --ca-pilPreBorWhi: hsla(0,0%,100%,.095);
  --cd-pilSelBacYel: #98663026;
  --cl-pilSelBacBlu: #1d282e;
  --c-pilSelBacRed: #362422;
  --cl-pilSelBacWhi: #373737;
  --cl-pilSelBorBlu: #2383e2;
  --ca-pilSelBorRed: #de555299;
  --ca-pilSelBorWhi: #ffffff2e;
  --cl-pilSelHovBacYel: #392e1e;
  --ca-pilSelHovBacRed: #de555540;
  --ca-pilSelHovBacWhi: #0000001a;
  --cl-pilSelHovBorBlu: #2383e2;
  --ca-pilSelHovBorRed: #de555299;
  --ca-pilSelHovBorWhi: #ffffff2e;
  --c-pilSelPreBacYel: #564328;
  --ca-pilSelPreBacBlu: #2383e259;
  --cl-pilSelPreBacRed: #522e2a;
  --ca-pilSelPreBacWhi: #0003;
  --cl-pilSelPreBorBlu: #2383e2;
  --ca-pilSelPreBorRed: #de555299;
  --ca-pilSelPreBorWhi: #ffffff2e;
  --cl-marTopTexHovWhi: #5a5a5a;
  --c-marTopTexPreWhi: #7f7f7f;
  --c-marTopTexDroVieAllRed: #de5550;
  --c-marTopTexDroVieAllYel: #cb912f;
  --c-marTopTexDroVieAllWhi: #7f7f7f;
  --cl-marEdiIllRed: #fdebec;
  --cl-marEdiIllYel: #fdecc8;
  --cl-marEdiIllBlu: #e0eefb;
  --cl-marEdiIllWhi: #fff;
  --cl-marEdiIcoWhi: #373737;
  --cd-marEdiBorRed: #ffffff08;
  --cd-marEdiBorYel: #ffffff08;
  --cd-marEdiBorBlu: #ffffff08;
  --ca-marEdiBorWhi: hsla(0,0%,100%,.055);
  --ca-marEdiBorHovRed: #ffffff08;
  --ca-marEdiBorHovYel: #ffffff08;
  --cd-marEdiBorHovBlu: #ffffff08;
  --ca-marEdiBorHovWhi: hsla(0,0%,100%,.055);
  --ca-marEdiBorPreRed: #ffffff08;
  --ca-marEdiBorPreYel: #ffffff08;
  --ca-marEdiBorPreBlu: #ffffff08;
  --ca-marEdiBorPreWhi: hsla(0,0%,100%,.055);
  --ca-marEdiBacRed: #de555540;
  --ca-marEdiBacYel: #b3813d33;
  --ca-marEdiBacBlu: #2383e224;
  --ca-marEdiBacWhi: hsla(0,0%,100%,.055);
  --c-marEdiBacHovRed: #522e2a;
  --c-marEdiBacHovYel: #564328;
  --cd-marEdiBacHovBlu: #2383e233;
  --ca-marEdiBacHovWhi: hsla(0,0%,100%,.095);
  --cl-marEdiBacPreRed: #362422;
  --cl-marEdiBacPreYel: #392e1e;
  --cd-marEdiBacPreBlu: #2383e212;
  --ca-marEdiBacPreWhi: #ffffff08;
  --c-marEdiIllRed2: #f64932;
  --c-marEdiIllYel2: #f64932;
  --c-marEdiIllBlu2: #f64932;
  --c-marEdiIllWhi2: #f64932;
  --c-creProInRevTex: #fde6d9;
  --c-butBoxSha: inset 0 0 0 1px #0f0f0f33,0 1px 2px #0f0f0f1a;
  --c-conBubSha: 0 0 0 1.5px #ffffff12;
  --c-eleButBoxSha: inset 0 0 0 1px #0f0f0f33,0 2px 4px #0f0f0f1a;
  --c-avaBoxSha: 0 2px 4px #0f0f0f33;
  --c-butBluFocRin: 0px 0px 0px 2px #191919,0px 0px 0px 4px #2383e2,0px 0px 0px 6px #191919;
  --cd-inpBoxSha: hsla(0,0%,100%,.075) 0 0 0 1px;
  --c-sidResBoxSha: inset calc(var(--direction, 1)*-2px) 0px 0px 0px #ffffff1a;
  --c-sidBoxSha: inset calc(var(--direction, 1)*-1px) 0px 0px 0px #2a2a2a;
  --c-secSidDifSha: 0px 14px 28px -6px #0003,0px 2px 4px -1px #0000001f;
  --c-secSidResBoxSha: inset calc(var(--direction, 1)*-2px) 0px 0px 0px hsla(0,0%,100%,.095);
  --c-secSidBorBoxSha: inset calc(var(--direction, 1)*-1px) 0px 0px 0px hsla(0,0%,100%,.095);
  --c-topAndSha: #0f0f0f33 0px 2px 4px,#0f0f0f4d 0px 2px 8px;
  --c-topAndShaCol: #0f0f0f33 0px 1px 0px,#0000 0px 0px 0px;
  --c-homScrButSha: 0 0 0 1px #0f0f0f33,0 2px 4px #0f0f0f33;
  --c-homShaCarBas: unset;
  --c-homShaCarHov: inset 0 0 0 1px #ffffff0d;
  --c-homShaTemCarBas: unset;
  --c-homShaTemCarHov: inset 0 0 0 1px #ffffff0d;
  --c-sha2XS: 0 0 0 1px hsla(0,0%,100%,.095);
  --c-shaXS: 0 0 0 1px #383836,0px 2px 4px 0 #00000014;
  --c-shaSM: 0 0 0 1px #383836,0px 4px 12px -2px #00000029;
  --c-shaSMThiOut: 0 0 0 2px #383836,0px 4px 12px -2px #00000029;
  --c-shaMD: 0 0 0 1px #383836,0px 14px 28px -6px #0003,0px 2px 4px -1px #0000001f;
  --c-shaMDPriOut: inset 0 0 0 1px #ffffeb1a,0px 14px 28px -6px #0003,0px 2px 4px -1px #0000001f;
  --c-shaMDThiOut: 0 0 0 2px #383836,0px 14px 28px -6px #0003,0px 2px 4px -1px #0000001f;
  --c-shaLG: 0 0 0 1px #383836,0px 24px 48px -8px #0000007a,0px 4px 12px -1px #0000003d;
  --c-shaBasMd: 0px 8px 12px 0px #19191966,0px 2px 6px 0px #19191966;
  --c-shaBasLg: 0px 20px 24px 0px #19191966,0px 5px 8px 0px #19191966;
  --c-shaBasSm: 0px 4px 12px 0px #19191966;
  --c-shaBasDif: 0px 12px 32px 0px #19191966;
  --c-shaBasScr: 0px 24px 48px 0px rgba(25,25,25,.639),0px 4px 12px 0px #1919198f;
  --c-shaOutMd: 0px 8px 12px 0px #19191966,0px 2px 6px 0px #19191966,0px 0px 0px 1px hsla(0,0%,99%,.074);
  --c-shaOutSm: 0px 4px 12px 0px #19191966,0px 0px 0px 1px hsla(0,0%,99%,.074);
  --c-shaOutDif: 0px 12px 32px 0px #19191966,0px 0px 0px 1px hsla(0,0%,99%,.074);
  --c-shaOutLg: 0px 20px 24px 0px #19191966,0px 5px 8px 0px #19191966,0px 0px 0px 1px hsla(0,0%,99%,.074);
  --c-shaOutScr: 0px 24px 48px 0px rgba(25,25,25,.639),0px 4px 12px 0px #1919198f,0px 0px 0px 1px hsla(0,0%,99%,.074);
  --cd-aiChaButSel: #ffffff0a;
  --cd-aiChaButSelHov: #ffffff0f;
  --cd-aiChaButPre: #ffffff1f;
  --ca-staHov: hsla(0,0%,100%,.055);
  --ca-staPre: #ffffff21;
  --ca-glaPag: #191919cc;
  --ca-glaWas: #202020cc;
  --cl-ligGraBanBac: #32302c;
  --c-froColDivShaBacFil: linear-gradient(90deg,#78818726,#7881871a,#0000);
  --c-froColDivShaBac: linear-gradient(90deg,#78818759,#78818733,#0000);
  --ca-swiButTeaBg: #7881874d;
  --ca-swiTogDesTraBg: #78818766;
  --ca-swiTogDesTraBgVar: #caccce4d;
  --upColor: #ff3b3b;
  --downColor: #43bc7c;
}
